html, .login, #root  {
   background-color: rgb(201, 229, 246);
}

.login{
   margin-top: 200px;
}
.login *{
   color: #000;
}
.logincha{
   background-color: aliceblue;
   padding: 25px;
   border-radius: 30px;
}
.forget{
   font-size: 14px;
   margin-top: 5px;
   color: blue;
   display: flex;
   justify-content: end;
}